<nav class="navbar navbar-expand-lg" style="background-color: black">
    <a class="navbar-brand fw-bold text-white" href="/">EmployeeApp</a>
    <div>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-white fw-bold" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white fw-bold" href="/add">Add Employee</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<style>
  .navbar a.nav-link:hover {
    color: white !important;
  }
</style>
